.page-body {
  font-family: sans-serif;
  background-color: #171717;
}

.container {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

.header-box {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-call {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border: #e4b564 1px solid;
}

.back-call-text {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: #e4b564;
  font-size: 18px;
  line-height: 30px;
}

.page-main {
  padding-bottom: 240px;
}

.parallax-section {
  position: relative;
}

.parallax-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: center/cover no-repeat;
  background-attachment: fixed;
}

.our-services::before {
  background-image: url(https://www.desktopbackground.org/p/2013/11/18/671734_wallpapers-tagged-with-excavator-page-1_1680x1050_h.jpg);
}

.machines::before {
  background-image: url(https://www.desktopbackground.org/p/2014/05/04/756965_9-excavator-hd-wallpapers_1920x1080_h.jpg);
}

.projects::before {
  background-image: url(https://www.desktopbackground.org/p/2013/11/18/671733_john-deere-350g-excavator-hd-desktop-wallpapers-widescreen-high_1920x1080_h.jpg);
}

.section-title {
  margin: 0;
  padding-top: 80px;
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.third-section {
  padding-top: 0;
}

.section-description {
  margin-top: 41px;
  margin-bottom: 41px;
  padding-right: 278px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.services {
  margin: 0;
  padding-bottom: 80px;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(468px, auto));
  gap: 30px;
}

.services-description:nth-child(1) {
  background-color: #634f2c;
  grid-column: span 2;
}

.services-description:nth-child(2) {
  background-color: #b4a385;
  grid-column: span 2;
}

.services-description:nth-child(3) {
  background-color: #e4b564;
  grid-column: span 2;
}

.services-description:nth-child(4) {
  background-color: #635a4a;
  grid-column: span 3;
}

.services-description:nth-child(5) {
  background-color: #b08c4d;
  grid-column: span 3;
}

.services-description-link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.conctruction-machines {
  margin-top: 94px;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 191px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 1100px;
}

.machines-description {
  width: 467px;
  display: flex;
}

.machines-description:nth-child(1) {
  background-color: #0e0e0e;
  min-height: 313px;
}

.machines-description:nth-child(2) {
  background-color: #1f1f1f;
  min-height: 560px;
}

.machines-description:nth-child(3) {
  background-color: #242424;
  min-height: 439px;
}

.machines-description:nth-child(4) {
  background-color: #e4b564;
  min-height: 405px;
}

.machines-description:nth-child(5) {
  background-color: #1f1f1f;
  min-height: 255px;
}

.machines-description:nth-child(6) {
  background-color: #0e0e0e;
  min-height: 313px;
}

.machines-description:nth-child(7) {
  background-color: #0a0909;
  min-height: 277px;
}

.machines-description-link {
  flex-grow: 1;
  padding: 44px 50px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.machines-name {
  font-weight: 700;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.rink {
  font-weight: 700;
}

.projects-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 160px;
  margin-bottom: 60px;
}

.all-projects {
  padding: 10px 40px;
  color: #e4b564;
  font-size: 18px;
  line-height: 30px;
  border: #e4b564 solid 1px;
}

.projects-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(391px, auto));
}

.projects-list-item:nth-child(1) {
  background-color: #634f2c;
}

.projects-list-item:nth-child(2) {
  background-color: rgba(232, 210, 171, 0.76);
}

.projects-list-item:nth-child(3) {
  background-color: #e4b564;
}

.projects-list-item:nth-child(4) {
  background-color: #635a4a;
}

.projects-list-item:nth-child(5) {
  background-color: #b08c4d;
}

.projects-list-item:nth-child(6) {
  background-color: #634f2c;
}

.projects-list-item-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.project-description {
  margin-top: 16px;
  margin-bottom: 0;
  padding-right: 80px;
  padding-left: 80px;
  color: #ffffff;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

.project-works {
  font-weight: 600;
}
